/* You can add global styles to this file, and also import other style files */
.btn-success {
    background-color: rgba(11, 129, 11, 0.67);
    color: #fff;
    border-radius: 1rem;
    width: 10rem;
    height: 2.5rem;
    font-weight: bold;
}